<section class="flex justify-center items-center h-[calc(100vh-168px)]">
  <div
    class="bg-gradient-to-r from-[#F54818] to-[#F9856F] p-8 rounded-lg shadow-lg text-white text-center"
  >
    <h1 class="text-5xl font-bold mb-4">Vedanta Desika Portal</h1>
    <h3 class="text-2xl font-semibold mb-6">Login to your account</h3>
    <form method="POST" action="">
      <div class="mb-4">
        {{ form.email.label(class="block text-left mb-2") }} {{
        form.email(class="w-full p-2 rounded bg-gray-200 text-black") }}
      </div>
      <div class="mb-4">
        {{ form.password.label(class="block text-left mb-2") }} {{
        form.password(class="w-full p-2 rounded bg-gray-200 text-black") }}
      </div>
      <div>
        {{ form.submit(class="bg-gray-200 hover:bg-gray-300 text-[#F54818]
        font-bold py-2 px-4 rounded") }}
      </div>
    </form>
  </div>
</section>
